@charset "UTF-8";

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.img-aboutus{
    max-width: 100%; 
    max-height: 100%; 
    display: block;
    margin: auto;
}
.container-service-aboutus {
    justify-content: center;
}

.service-aboutus {
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    display: block;
    margin: 1%;
}
.service-aboutus p{
    font-size: 15px;
}
.service-aboutus strong{
    font-size: 32px;
}
@media only screen and  (max-width: 992px){
    .service-aboutus p{
        font-size: 10px;
    }
    .service-aboutus strong{
        font-size: 25px;
    }
}
