.footer {
    background-color: black;
}
.footer a{
    color: #ffffff;
    font-size: 18px;
}
.footer a:hover{
    text-decoration: none;
    color: #ffffff;
}
.footer_list {
    list-style: none;
    margin-bottom: 5%;
    color: #ffffff;
}

.footer_list strong {
    color: #ffffff;
}
.icon{
    justify-content: space-between;
}