body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
}

a {
    text-decoration: none;
}

.top_header {
    background-color: #115AAF;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shopping_now {
    color: #fff;
    float: right;
}

/* Navigation */
.nav_content {
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.logo {
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_logo {
    height: 48px;
    width: 174px;
}

.container_img_logo,
.bottom_logo {
    width: 100%;
}

.bottom_logo {
    font-size: 10px;
    white-space: nowrap;
    font-weight: 500;
}
.container_nav_list{
    display: flex;
    flex: 70%;
}
.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0 5%;
    flex: 2;
}

.nav_link {
    color: inherit;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20%;
    white-space: nowrap;
}

.nav_list li {
    display: inline;
    margin: 0px 10px;
}

.btn_login {
    background-color: #FE7243;
    color: #fff;
    height: 49px;
    width: 179px;
    margin-right: 20px;
    border: none;
    border-radius: 24px;
}