

  /* filer bar & menu */
  .filter {
    max-width: 10%;
    font-family: Roboto, sans-serif;
    /* margin-right:18% ; */
    /* border-right : 1px solid black; */
  }

  .filter .filtertext {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }

  .filter #cat_link {
    margin: 2vh 0;
  }

  .filter .filter-content {
    position: static;
    margin: 2vh 0;
    width: 100%;
    bottom: 9%;
    left: 30%;
  }

  .filter .filter-content hr {
    width: 100%;
  }

  .filter-item {
    color: black;
    font-weight: 500;
    font-size: 12px;
  }

.title_text
{
   width: 180px;
    justify-content:space-between;
    padding-top: 10px;
}

.title_text .filter-item
{
    color: #9B9B9B;
}
  .group{
    background-color: white;
    width: 180px;
    margin: 20px auto;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px #9d968f;
    position: relative;
}
.range-input input{
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: transparent;
    transform: translateY(2px);
    pointer-events: none;
}
.range-input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background-color: #115AAF;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
}
.progress{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    background-attachment: fixed;
}
.range-text div{
    position: absolute;
    background-color: #115AAF;
    color: #eee;
    font-size: 7px;
    padding: 5px;
    left: 0;
    width: 20px;
    text-align: center;
    border-radius: 3px;
    top: 15px;
    transform: translateX(-50%);
    width: auto;

}
.range-text .text-max{
    left: unset;
    right: 0;
    transform: translateX(50%);
}

  .drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .drop-down i {
    transition: 0.2s;
  }

  .drop-down i.deactive {
    transform: rotate(-90deg);
  }

  .filter-item i:hover {
    font-weight: 600;
    cursor: pointer;
  }

  li.li-hr {
    margin: 2vh 0;
  }

  .main-content>div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  /* advertise */
  .advertise {
    max-width: 90%;
    height: calc(max-width/4);
    background-color: black;
    margin-left: 15%;
  }

  .ads {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .aditems {
    text-align: center;
  }

  .New-arrival {
    font-weight: 600;
    font-size: 48px;
  }


  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .mySlides img {
    padding-top: 10%;
  }

  .active, .dot:hover {
    background-color: red;
    border: 2px solid white;
  }

  /* Fading animation */
  .animation {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  /* title */
  .secondary2 {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
  }

  .secondary2-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    size: 16px;
    color: #DB4444;
    ;
  }

  /* TitleM */
  .secondary1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
  }

  /* Flashsale */
  .introduction {
    white-space: nowrap;
  }

  .Time {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }

  .Timetext {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
  }

  /* favorite products*/
  .heart-item {
    padding-bottom: 130px;
  }

  .ads_jbl_affix {
    max-width: 100%;
    height: auto;
    background-color: #000;
    margin-top: 110px;
  }

  .title_jbl {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #00FF66;
  }

  .ESE {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #FAFAFA;
  }

  .circle {
    cursor: pointer;
    height: 62px;
    width: 62px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }

  .Timetext1 .circle div {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #000;
    padding-top: 30%;
    line-height: 1px;
  }

  .btn_jbl {
    border-radius: 4px;
    background-color: #00FF66;
    padding: 16px 48px;
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  .JBL_BOOMBOX {
    margin-top: 100px;
  }

  /* Feature */
  .feature-product
  {
    width: 100%;
  }
  .DELL {
    height: auto;
    background-color: #000;
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 40px;
  }


  .textD1 {
    padding-top: 100px;
  }

  .heading {
    font-weight: 600;
    font-size: 24px;
  }
  .DELL img
  {
    width: 100%;
  }

  .DELL1 img
  {
    width: 100%;
  }
  .loa
  {
    background-image: url('../img/loa.png');
  }

  .PC
  {
    background-image: url('../img/PC.png');
  }

  .title-regular {
    font-size: 14px;
    font-weight: 400;
  }

  .title-medium {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(white 0 0);
    background-position: left bottom;
    /* OR left bottom*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
  }

  .title-medium:hover
  {
    background-size: 100% 2px;
  }
  .background
  {
    background-repeat:no-repeat;
    background-position: center;
  }

  .background .heading
  {
    margin-top: 240px;
  }
  .Newarrival_res
  {
    display: none;
  }
  /* feedback */
  .username
  {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
  .usercomment
  {
    font-family: 'Inter',sans-serif;
    font-weight:300px;
    font-size: 15px;
    font-style: italic;
  }
  .user
  {
    line-height: 30px;
  }

  .numbered
  {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
  }

  .service
  {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-indent: -1.5cm;
  }

  .lastcontent
  {
    padding-top: 130px;
  }
@media screen and (min-width: 901px) and (max-width: 1300px)   {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3.7) - 9px) !important;
      }
}

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
