@charset "UTF-8";

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: #8C8888;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container_img {
    padding-bottom: 100px;
    background-color: #CBCEE8;
    display: flex;
}

.img_signup {
    object-fit: contain;
}

.tittle_signin {
    font-weight: 900;
    font-size: 64px;
    color: #333;
}

.tittle_signin strong {
    color: #2031ce;
}

.text_sign_up {
    color: #115aaf;
}

.container_information {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.username,
.password{
    width: 100%;
    height: 50px;
    background-color: #f6f2f2;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    text-indent: 1cm;
}
.remember_and_forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.remember {
    display: flex;
    align-items: center;
}
.forgot a{
    color: #8c8888;
}
input[type="checkbox"] {
    margin-right: 10px;
}
.btn_signin{
    height: 7vh;
    width: 30%;
    background-color: #115aaf;
    color: #fff;
    border-radius: 31px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.other_login{
    width: 35%;
    height: 50px;
    width: 218px;
    height: 69px;
    border-radius: 39px;
    border: 2px solid #34bcad;
}
.container{
    margin-bottom: 10%;
}
