body {
    font-family: Poppins;
}
.header-fake {
    width: 100%;
    height: 165px;
    background-color: aliceblue;
}
.footer-fake {
    width: 100%;
    height: auto;
    background-color: aliceblue;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}
.breadcrumb {
    width: 100%;
}
.title-form {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
    color: #000000;
}
.form-custommer-infor label:not(.exclude) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
}
.form-custommer-infor input:not(.exclude) {
    width: 470px;
    height: 50px;
    border-radius: 4px;
    background: var(--Secondary, #f5f5f5);
}
.infor-payment {
    color: var(--Text2, #000);
    font-size: 19.849px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.773px;
}

.line-grey {
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.4;
}
.product-tite {
    gap: 15px;
}
.product-img {
    transition: transform 0.3s ease-in-out;
    border-radius: 4px;
}
.product-img:hover {
    transform: scale(1.1);
}
.modal-content {
    margin: auto;
    width: 600px;
    height: 700px;
}
.modal-title {
    color: #000;

    text-align: center;
    font-family: Poppins;
    font-size: 21.891px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.294px;
}
.modal-bs5-none {
    justify-content: initial !important;
}
.method-line {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(145, 158, 171, 0.239);
    gap: 15px;
    padding: 10px 15px;
    position: relative;
    transition: 0.1s ease;
}
.method-line__active {
    border: 1px solid #ff2840 !important;
}
#paymentMethodBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

#paymentMethodBtn:focus {
    outline: none;
}
.modal-body {
    max-width: 506px;
    overflow-y: auto;
}

#payment-success .modal-content {
    width: 708px;
    height: 556px;
    display: flex;
    align-items: center;
    padding: 40px 32px 32px 32px;
    border-radius: 44px;
    background: var(--others-white, #fff);
}
#payment-success .payment_success_main_text {
    color: var(--greyscale-900, #212121);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
#payment-success .payment_success_text {
    color: var(--greyscale-900, #212121);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}
#payment-success .modal-footer {
    border-top: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -10px;
}
#payment-success .modal-footer a {
    text-decoration: none;
    color: var(--others-white, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-return,
#btn-watch-detailed-order {
    border-radius: 10px;
    background: #115aaf;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 276px;
    height: 58px;
}

.product-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.product-title {
    margin-bottom: 8px;
}

.product-img {
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 4px;
}

.product-details {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
}

.product-quantity,
.product-price {
    font-size: 16px;
    color: #000;
}

/* responsive */
/* xl */
@media (min-width: 1200px) {
    .form-control {
        width: 100% !important;
    }
    .padding-right-xl {
        padding-right: 30px;
    }
}
/* lg */
@media (min-width: 992px) and (max-width: 1200px) {
    .form-control {
        width: 100% !important;
        font-size: 22px;
    }
}
/* md  min-width: 768px */
@media (min-width: 577px) and (max-width: 991px) {
    .form-control {
        width: 100% !important;
        font-size: 20px;
    }
    .margin-left-mobile-0 {
        margin-left: 0 !important;
    }
    .height-mobile-5 {
        height: 5px !important;
    }
}
/* mobile */
@media (max-width: 576px) {
    .form-control {
        width: 100% !important;
        font-size: 18px;
    }
    .breadcrumb {
        display: none;
    }
    .title-form {
        font-size: 25px;
    }
    .form-custommer-infor label:not(.exclude) {
        font-size: 14px;
    }
    .form-custommer-infor input:not(.exclude) {
        height: 35px;
    }
    .infor-payment {
        font-weight: 350;
        line-height: 25px;
        margin-top: 16px !important;
    }

    .product-img {
        width: 40px !important;
        height: 40px !important;
    }
    .text-mobile-size-14 {
        font-size: 14px;
    }
    .margin-left-mobile-0 {
        margin-left: 0 !important;
    }
    .margin-top-mobile-16 {
        margin-top: 16px !important;
    }
    .total-infor__subtotal {
        margin-top: 0 !important;
    }
    .line-grey {
        margin-top: 8px !important;
    }
    .img-mobile-40x40 {
        height: 40px !important;
        width: 40px !important;
    }
    .payment-method {
        margin-top: 0;
    }
    #exampleModal .modal-content,
    #payment-success .modal-content {
        height: 500px;
        margin-bottom: 0 !important;
        border-radius: inherit;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: inherit;
    }
    .method-img {
        height: 40px !important;
        width: 40px !important;
    }
    .modal-header {
        height: 50px !important;
    }
    .modal-body {
        max-width: 506px;
        overflow-y: auto;
    }
    .modal-title {
        font-size: 18px;
    }
    .height-mobile-5 {
        height: 5px !important;
    }

    .mobile-w100 {
        width: 100%;
    }
    .modal.fade .modal-dialog {
        transform: translate(0, 100%);
    }
    .modal.show .modal-dialog {
        transform: translate(0, 0);
    }

    .modal-backdrop {
        transform: translate(0, -100%);
    }
    .mobile-margin-none {
        margin: 0 0;
    }
    #payment-success * {
        font-size: 97% !important ;
        line-height: 110% !important ;
    }
    #btn-return,
    #btn-watch-detailed-order {
        height: 48px;
    }
}
