.title {
    font-family: Poppins;
    font-size: 14px;
    padding: 100px 0px;

}

.title .Deactive {


    font-weight: 400;
    color: #9B9B9B;
}

.title .Active {
    font-weight: 500;
}
.card .product-imgs .img-display .heart
{
    margin-left: 90%;
    margin-bottom: 30px;
    cursor: pointer;
}
.card-wrapper {
    line-height: 1.5;
}

.card-wrapper .card {
    display: grid;
    border: none;
}

.card-wrapper .card img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 100% */
    letter-spacing: 0.72px;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #9B9B9B;
}

.product-price {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.product-detail .Description {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.product-detail .info {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.purchase-info {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.purchase-info span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    width: 30%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border: 1px solid whitesmoke;
    background: #FFF;
}

.purchase-info .num {
    width: 100px;
}


.purchase-info span.num {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;

    pointer-events: none;
}

.purchase-info .minus:active, .purchase-info .plus:active {
    background-color: var(--Secondary-2, #DB4444);
    color: white;
}

.product-content .btn {
    display: flex;
    justify-content: space-between;
}
.product-content table
{
    border: 1px solid black;
    border-radius: 6px;
    width: 80%;
}
.product-content table tr
{
    border: 1px solid black;
    border-radius: 6px;
    height: 100px;
}
.product-content table td .heading
{
    font-size: 16px;
    font-weight: 500;

}
.product-content table td .text
{
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;

}
.product-content .btn button
{
    background-color: #DB4444;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    border: none;
    color: white;
    width: 30%;
    height: 43px;
    border-radius: 4px;
}
.line
{
  padding: 0 0.04rem;
  margin-left: 1rem;
  background-color: black;

}
/* title */
.secondary2 {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
  }

  .secondary2-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    size: 16px;
    color: #DB4444;
    ;
  }

@media screen and (min-width: 992px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}


