h5{
    font-weight: bold;
    text-indent: 2cm;
  }
  .text
  {width: 350px;}
  input
  {
      width: 350px !important;
  }

  .btn-rspw
  {
      border: none;
      border-radius: 4px;
      width: 120px;
      height: 40px;
      background-color: #115AAF;
      color: white;
      font-weight: bold;
      font-size: 15px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .btn-CONTACT
  {
      border: none;
      border-radius: 4px;
      width: 180px;
      height: 40px;
      background-color: #115AAF;
      color: white;
      font-weight: bold;
      font-size: 15px;
      align-items: center;
  }

  .button-CONTACT
  {
      margin-left: 120px;
      margin-top: 20px;
  }

  .back
  {cursor: pointer;}

  .modal-body {
      max-width: 506px;
      overflow-y: auto;
  }

  .modalS {
      --bs-modal-width: 708px !important;
  }
  .img_succeed
  {
      width: 180px;
      height: 180px;
      margin: 90px 260px 0 260px;
  }
  .text_succeed
  {
      text-align: center;
  }

  .text_succeed .heading
  {
      font-weight: bold;
  }

  .text_succeed .description
  {
      font-weight: 300 !important;
      font-size: 12px !important;
      font-weight: bold;
  }
  .btn_succeed
  {
      display: flex;
      justify-content: space-around;
  }

  .btn_succeed button
  {
      width: 263px;
      height: 58px;
      border: none;
      outline: none;
      color: white;
      font-weight: bold;
      text-align: center;
      border-radius: 8px;
      background: #115AAF;
      font-size: 14px;
  }

  