/* store_list */
.search::placeholder
{
    font-family: Poppins;
    font-size: 12px;
    text-align: center;
}


.input-group-text
{
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
}

.search
{
    background-color: #F5F5F5;
    border: none;
    border-top-left-radius: 8px  ;
    border-bottom-left-radius: 8px  ;
}
.menu-bar {
    list-style: none;
    font-weight: 400;
    font-size: 10px;
  }

.menu-bar a {
    text-decoration: none;
    color: #9B9B9B;
  }
.store
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.store .card {
    scroll-snap-align: start;
    height: 342px;
    width: auto;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .store .card .img {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;

  }

  .store .card .img img {
    width: 90%;
    height: auto;
    transition: 0.5s;

  }

.card .productname {
    white-space: wrap;
    margin: 2px 0 5px;
    padding-top: 40px;
    font: size 14px;
  }

  .card .cost {
    color: red;


  }

  .card .discount {
    color: whitesmoke;
    text-decoration: line-through;
    font-weight: 700;
    padding-right: 120px;
    padding-left: 10px;
  }

.store .card .card-action .btn
{
    padding-right: 0px;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.store .card .card-action
{
    margin-bottom:-60px;
}
.store .card .heart
{
    margin-left: 90%;
}
/* pagination  */
.pagination ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .pagination ul li{
    color:  black;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: #fff;
    background: black;
  }
  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding: 10px;
  }






