/* Tablet: 740px < width < 1200px  */
@media only screen and (min-width: 741px) and (max-width: 1200px){
    /* advertise */
    .advertise
    {
      height: auto;
    }
    .advertise_responsive{
      display: flex;
      justify-content: center;
    }
    .mySlides
    {
      width: 100%;
      display: flex;
      justify-content: center;

    }
    .mySlides img {
      width: 100%;
      /* height: 250px; */
      padding-bottom:  1%;

    }
     /* flashsale */

    .textdate
    {
       margin-left: -60px;

    }

    .countdown .Time
    {
    margin-left:-30px;
    }
    .textdate
    {

       margin-left: -30px;
    }
    #Seconds
    {
      margin-right: -30px;
    }
    .introduction
    {
      margin-right: 5%;
    }
    .countdown
    {
      padding: 100px 0 ;
    }
        /* advertise jbl  */
        .ads_jbl
        {
          width: 80%;

          margin-right: 20%;
          justify-content: center;
          height: 700px;
        }
        .ads_jbl img
        {
          width: 100%;
          padding-bottom: 80%;
          padding-left: 20%;
        }
        .ESE
        {
          font-size: 30px;
          white-space: nowrap;
          padding-right: -100px;
        }

        .jbl-details
        {
          width: auto;
        }
        .ads_jbl_affix
        {
          margin-left: -30%;
        }
        .JBL_BOOMBOX {
          margin-top: 47px;
      }
      .circle
      {
        width: 55px;
        height: 55px;
      }
      .Timetext1 .circle div
      {
        font-size: 12px;
      }
      .introduction
      {
        font-size: 20px;
      }
      /* feature */
      .Newarrival_res{
          display: block;
      }
      .Newarrival_res .card .DELL .title-medium:hover {
          background-size: 100% 2px;
      }



      .feature-product
      {
          display: none;
      }
      /* feedback */
     .feedback_bar
     {
        width: 120%;
     }
     .nxt-btn
     {
        right: 0;
     }
    }
    /* GalaxyFold */
    @media only screen and (max-width: 300px)
    {
      .filter-responsive

      {
        position: relative;
        right: 1cm;
      }
      .title
      {
        position: relative;
        right: 1cm;
      }
      .introduction
      {
        position: relative;
        right: 1cm;
      }



     /* jbl */
      .ads_jbl
      {
        width: 90%;

        margin-right: 20%;
      }
       /* feature */
       .Newarrival_res{
          display: block;
      }
      .Newarrival_res .card .DELL .title-medium:hover {
          background-size: 100% 2px;
      }



      .feature-product
      {
          display: none;
      }

      /* feedback */
      .lastcontent i
      {
        display: none !important;
      }


    }

    /* Mobile:  width < 740px  */
    @media only screen  and (max-width: 740px)
    {


      /* advertise */

        .ads
        {
            display: none;
        }
      .headerads img
      {
        width: 100%;
      }

      .menu-text
      {
        font-weight: 600;
        font-size: 15px;
      }

      .responsive-menu button
      {
        width: 30px;
        height: 30px;
      }
      .signup
      {
        padding-left: 70%;
      }
      /* filter */
      .filter-responsive
      {
        padding: 0 25%;
      }
       /* flashsale */

    .countdown
    {
      padding: 100px 0 ;
    }

    .countdown .Time
    {
    margin-left:-32px;
    font-size: 20px;
    margin-top: 8px;

    }
    .textdate
    {
       margin-left: -60px;
       flex-wrap: nowrap;
    }
    #Seconds
    {
      margin-right: -60px;
    }
    #Minutes
    {
      margin-right: -20px;
    }
    #Hours
    {
      margin-left: -40px;
      margin-right: -20px;
    }
    #Days
    {
      margin-left: -40px;
      margin-right: -20px;
    }


      /* advertise jbl  */
      .ads_jbl
      {
        width: 90%;

        margin-right: 20%;
        justify-content: center;
      }
      .ads_jbl img
      {

        padding-bottom: 80%;
        padding-left: 20%;
      }
      .ESE
      {
        font-size: 16px;
        white-space: nowrap;
        padding-right: -100px;
      }

      .jbl-details
      {
        width: auto;
      }
      .ads_jbl_affix
      {
        margin-left: -30%;
      }
      .JBL_BOOMBOX {
        margin-top: 47px;
    }
    .circle
    {
      width: 38px;
      height: 38px;
    }
    .Timetext1 .circle div
    {
      font-size: 9px;
    }
    .introduction
    {
      font-size: 20px;
    }

     /* feature */
     .Newarrival_res{
      display: block;
    }
    .Newarrival_res .card .DELL .title-medium:hover {
      background-size: 100% 2px;
  }



  .feature-product
  {
      display: none;
  }
  /* feedback */
  .lastcontent i
  {
    display: none !important;
  }
  .lastcontent .row .col-4 {
  width: auto;
  }

  }

    @media only screen and (min-width: 1023px) and (max-width: 1281px)
    {


    .Newarrival_res{
      display: none;
    }
    .feature-product
  {
      display: flex;
  }
  }

  @media only screen and (min-width: 980px) and (max-width: 1200px)
  {
            .JBL_BOOMBOX
            {
                width: 80% !important;
            }

  }
